<!-- separate to a diferent component -->
<div class="heroes">
  <div class="heroes__form">
    <h2>Create new hero</h2>
    <form #newHeroForm>
      <label for="newHero">Hero name:</label>
      <input type="text" id="newHero" name="newHero" #heroName />
      <button type="button" (click)="add(heroName.value, newHeroForm)">
        Add
      </button>
    </form>
  </div>

  <ul class="heroes__list">
    <h2 class="heroes__title">Heroes list</h2>
    <li class="heroes__item" *ngFor="let hero of heroes">
      <a class="hero__link" routerLink="/hero-detail/{{ hero.id }}">
        <span class="hero__id">{{ hero.id }}</span>
        <span class="hero__name">{{ hero.name }}</span>
      </a>
      <button
        class="hero__remove-button"
        type="button"
        (click)="deleteHero(hero.id)"
      >
        Delete
      </button>
    </li>
  </ul>
</div>
