.container {
  padding: 1rem;
}

.nav__link {
  color: var(--dark-color);
  text-decoration: none;
  display: inline-block;
  margin-right: 1rem;
}

.nav__link:hover {
  color: var(--primary-color);
}
