/* Global style */
:root {
  --primary-color: #007bff;
  --success-color: #28a745;
  --info-color: #17a2b8;
  --danger-color: #dc3545;
  --light-color: #fff;
  --dark-color: #000;
  --gray-color: #ccc;
}

html {
  font-size: 16px;
}

body {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Arial", sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  width: 300px;
  overflow: auto;
}

label {
  display: block;
  margin: 0.5rem 0;
  font-weight: 500;
}
